

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* 
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import 'https://fonts.googleapis.com/css?family=Allura&subset=latin-ext';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Titillium Web",sans-serif !important;
  font-size: 14px;
  background-color: #F0F0F0;
  line-height: 22px;
  font-weight: 400;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: #333333;
  color: #ddd;
  
  line-height: 60px;
  
  overflow: hidden;
}

nav.navbar{
    margin: 0;
    
}

.navbar a{
    text-transform: uppercase;
    font-weight: bolder;
    color: #ddd;
} 

a:hover{
    color: #00B4E8;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:  #00B4E8;
    background-color: transparent;
    
}

*:focus{
    outline: 0 !important;
}

.blog-header{
    height: 300px;
    font-size: 48px;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
}

.blog-header > img{
    width: auto; 
    height: 100%;
    position: absolute;
    top: 0;
    left: -30%;
} 

@media (min-width: 1921px) {
    .blog-header > img {
        width: 100%; 
        left: 0;
    }
}

.blog-header > div{
    width: 100%; 
    height: 100%;
    background-color: #555;
} 

article.row{
    margin: 15px 0;
}
@media(max-width:480px){
#sidebar {
    position: absolute;
    top: -12px;
    padding: 0px;
    background-color: #fbfbfb;
    z-index: 1000;
}  

.sidebar-offcanvas {
    margin-left: -75%;
    transition: margin-left 0.5s ease-in-out 0.01s;
}
}

.btn-toggle {
    display: inline-block;
    position: absolute;
    right: -40px;
    width: 40px;
    height: 40px;
    background-color: #333333;
    border-radius: 0 !important;
    opacity: 0.9;
    color: #fff;
}


.btn-toggle:hover, .btn-toggle:focus, .btn-toggle.focus {
    color: #ddd !important;
}
.toggled {
    margin-left: 0 !important;
}

.sidebar-module , .sidebar-module + aside {
    width: 50%;
    margin: 0 auto;
    
    padding-bottom: 1em;
}

#main-content{
    position: relative;
    height: 100%;
}

.polaroid {
    width: 400px;
    border-width: 15px 15px 65px;
    border-style: solid;
    border-color: #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    transform: rotate(-1deg);
}

.polaroid:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    transform: rotate(2deg) scale(1.05);
}

article.post > *:first-child{
    margin: 0 auto;
}
article.post {
    padding-bottom: 5em;
    margin-bottom: 2em;
    border-bottom: 2px dashed #AAA;
    
    min-height: 400px;
}
    

article.post >  *:nth-child(2) {
    height: 100%;
    margin: 0 auto;
}

article.post >  *:nth-child(2) > p{
    line-height: 1.8em;
    
    margin: 2em auto;
}

.post header.lead{
    padding-bottom: 0.5em;
}

#post-img{
    margin: 3em auto;

}

#post-img > .polaroid{
    transform: rotate(0deg);;
}

post-img .polaroid::hover{
    transform: none !important;
}

#tags{
    font-size: 16px;
    font-weight: bold;
}

#tags a{
    color: #333333;
}

.grey {
    color: #666;
    margin: 0 2px;
}

#social-media > span {
    margin-right: 10px;
}

#tellus{
    font-family: 'Allura', cursive;
    font-size: 25px;

}
.seam {
    border-bottom: #aaaaaa dashed 2px;
}

.page-header > span.subttitle{
    font-size: 0.8em;
    line-height: 24px;
}

.subttitle > .count{
    font-weight: bold;
}
/*gallery styles*/



.thumbnail-img {
  position: relative;
  overflow: hidden;
}
.thumbnail-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail-img img.portrait {
  width: 100%;
  height: auto;
}

/*center element in figure container*/

figure > * {
    display: block;
    margin: 0 auto;
}

figure > figcaption > *{
    font-family: "Titillium Web";
}

#tags.tags{
    position: absolute;
    margin-top: 1.5em;
}

#tags.tags i {
    padding: 0px 5px;
}

#tags.tags > a::before{
    content: "#";
}

#comment-form textarea{
    resize: none;
}

.comment-list .comment-item{
    background: #f9f9f9;
    border-left: 5px solid #25aed5;
    -khtml-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 5px;

}

.comment-list header {
    margin: 0px;
    padding: 0px;
    line-height: 14px;
}

.comment-list header span {
    color: #0080a6;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    display: table-row;
    font-style: italic;
}

.comment-list time {
    font-weight: 300;
    font-size: 10px;
    color: #aaa;
    top: -10px;
    line-height: 12px;
}



@media (min-width:320px){
.thumbnail-img {
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
} 

.comment-list > article.comment-item{
    padding-left: 0.5em;

}

}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

@media (min-width:480px){
.thumbnail-img {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
} 

.comment-list > article.comment-item{
    padding-left: 4em !important;
    background: #f9f9f9;
    border-left: 5px solid #25aed5;
    -khtml-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 5px;

}
}